{% extends 'search/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <center>
    {% if searched %}
        <h1>You Searched For {{ searched }}</h1>
        <br>
        {% for v in venues %}
            <a href="{% url 'show-venue' v.id %}">{{ v }}</a><br>
        {% endfor %}
    {% else %}
        <h1>Nothing Was Searched</h1>
    {% endif %}
    <center/>
    {% endblock %}
</body>
</html>